$dark-blue: #1d1a34;
$blue: #282446;
$grey: #9b9faa;

body, html {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     overflow: hidden;
}

.intro {
  background: #1e253a;
  opacity: 0.95;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;

  .wrapper {
    width: 80vw;
    margin: 150px auto 0;
  }

  .title {
    font-family: 'National Semibold';
    color: white;
    font-size: 19px;
    text-transform: uppercase;
  }
  .text {
    color: #767676;
    font-family: 'PlayfairDisplay Italic';
    font-size: 15px;
    margin: 50px 0px;
  }
  .next {
    font-family: 'National Regular';
    color: #ed6f6c;
    text-decoration: none;
    width: 80vw;
    text-align: center;
    display: block;
    margin-left: 20px;

    &:after {
      position: absolute;
      display: block;
       content:"";
       margin-top:10px;
       width: 50%;
       height: 2px;
       background: #ee8f8d;
       right: 0px;
    }
    &.animate {
      &:after {
        content:"";
        animation: anim-button 1s linear;
      }
    }
  }

  @keyframes anim-button {
    0%{
      right: 0%;
    }
    50%{
      right: -100%;
    }
    50.1%{
      right: 100%;
    }
    100%{
      right: 0%;
    }
  }
}

 .menu {
   position: absolute;
   width: 100vw;
   height: 80px;

   a {
     position: absolute;
     top: 40px;
     width: 40px;
   }

   .left {
    left: 40px;
   }

   .right {
     right: 20px;
     top: 30px;
     width: 50px;
   }

   img {
     width: 50%;
   }
 }

.full-menu {
  position: absolute;
  top: -100%;
  transition: all 0.4s ease;

  &.active {
    transition: all 0.4s ease;
    top: 0;

    .shadow {
      transition: all 0.4s ease;
      transition-delay: 0.2s;
      opacity: 0.4;
    }
  }

  .guillotine {
    position: absolute;
    height: 300px;
    border-bottom: 80px solid transparent;
    border-left: 100vw solid #f1f1f3;
    border-top: 0px solid transparent;
    z-index: 1;

    .container {
      left: -100vw;
      position: absolute;
      width: 100vw;

      ul {
        list-style: none;
        text-align: center;
        margin: 0;
        margin-top: 50px;
        padding: 0;
        font-size: 17px;
        color: #a9abb3;
        li {
          font-family:'National Light';
          padding-bottom: 40px;
          &:after {
            content: "";
            width: 40px;
            height: 2px;
            background: #92949c;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            margin-top: 40px;
          }
        }
      }
    }

    .close {
      img {
        width: 50%;
      }
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }

  .shadow {
    height: 100vh;
    background: black;
    opacity: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }
}


.full-search {
  position: absolute;
  bottom: 0px;
  transition: all 0.4s ease;

  &.active {
    transition: all 0.4s ease;
    bottom: 350px;

    .shadow {
      transition: all 0.4s ease;
      transition-delay: 0.2s;
      opacity: 0.4;
    }
  }

  .guillotine {
    position: absolute;
    height: 300px;
    border-bottom: 0px solid transparent;
    border-right: 100vw solid #f1f1f3;
    border-top: 50px solid transparent;
    z-index: 2;

    .container {
      position: absolute;
      width: 100vw;

      ul {
        list-style: none;
        margin: 0;
        margin-top: 50px;
        padding: 0;
        padding-left: 92px;
        font-size: 17px;
        color: #3d4457;
        li {
          text-transform: uppercase;
          font-family:'National Medium';
          padding-bottom: 40px;
          // &:after {
          //   content: "";
          //   width: 40px;
          //   height: 2px;
          //   background: #92949c;
          //   position: absolute;
          //   transform: translateX(-50%);
          //   left: 50%;
          //   margin-top: 40px;
          // }
        }
      }
    }
  }
}


// FULL VIEW
 .full {
   height: 100vh;
   width: 100vw;
   position: absolute;
   background: url('../assets/interface/background.png');
   text-align: center;

   h2 {
     font-family: 'Lato Bold';
     text-transform: uppercase;
     color: white;
     font-size: 18px;
   }

   h3 {
     font-family: 'PlayfairDisplay Italic';
     font-size: 15px;
     color: white;
   }
 }


 // ANIM FULL VIEW
 .pie.animate-full {
   animation: pie-anim 2s ease forwards;
   animation-delay: 1s;
 }

 .full {
   z-index: 1;
   opacity: 0;
   visibility: hidden;

   h2, h3 {
     position: absolute;
     bottom: 20px;
     width: 100vw;
     left: 50%;
     transform: translate(-50%, 80px);
   }
   h2 {
     bottom: 45px;
   }
 }

 .full.animate-full {
   opacity: 1;
   visibility: visible;
   animation: background-anim 2s ease forwards;
   animation-delay: 1s;
   h2, h3 {
     animation: text-anim 2s ease forwards;
   }
 }

 @keyframes background-anim{
   0%{
     opacity: 0;
   }
   100%{
     opacity: 1;
   }
 }

 @keyframes text-anim{
   0%{
     transform: translate(-50%, 80px);
   }
   100%{
     transform: translate(-50%, 0px);
   }
 }

 @keyframes pie-anim {
   0%{
     box-shadow: 0px 0px 0px rgba(33, 115, 184 ,0.41);
   }
   100%{
     box-shadow: 0px 0px 60px rgba(33, 115, 184 ,0.8);
     transform: translateY(-80px);
   }
 }

 .hotspot {
     border-radius: 50%;

     &.animate-full {
       opacity: 0.5;
     }

     svg {
       position: absolute;
       width: 10px;
       height: 10px;
       border-radius: 50%;
       pointer-events: all;
       transform: translate3d(0, 0, 0);
       top: 5px;
       left: 5px;
     }

     .shadow {
       position: absolute;
       width: 10px;
       height: 10px;
       background: #7f8c8d;
       z-index: -1;
       border-radius: 50%;
       top: 50%;
       left: 50%;
     }

     &.active {
      .shadow {
        animation: pulse 2s ease-out infinite;
      }
     }

     @keyframes pulse {
       0%{
          transform: scale(1);
          opacity: 1;
       }
       100%{
         transform: scale(3);
         opacity: 0;
       }
     }
 }
 .plantView {
   position: absolute;
   background-color: #f1f0f5;
   top:0;
   left:100%;
   width: 100%;
   height: 100%;
   z-index: 10;
   overflow: hidden;


   .images-wrapper {
     transform: scale(1.2);
     position: absolute;
     top:0px;
     left: 0px;
     width: 100%;
     height: 50%;
    //  background-image:url('../assets/flower.png');
     background-size: 100%;
     background-repeat: no-repeat;
     img {
       position: absolute;
       width: 100%;
     }
   }
   .back {
    position: absolute;
    top:30px;
    left: 30px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 2;

    .arrow {
      position: absolute;
      left:50%;
      top:50%;
      margin-top: -6px;
      margin-left: -4px;
      text-indent: -999px;
      display: inline-block;
      width:10px;
      height: 10px;
      border-left:2px solid black;
      border-top:2px solid black;
      transform:  rotate(-45deg);
    }
   }

   .wrapper {
     position: absolute;
     box-sizing: border-box;
     bottom:0%;
     width: 100%;
     padding: 40px;
   }

   h1 {
     font-family:'PlayfairDisplay Italic';
     color:#464d62;
     font-size: 36px;
   }

   h1, h4 {
     margin: 0;
     padding: 0;
   }

   h4 {
     font-family:'National Semibold';
     text-transform: uppercase;
     font-size: 3vh;
     color:$grey;
     padding-left: 30px;
     &:before {
       position: absolute;
       display: inline-block;
       content:'';
       width: 20px;
       left: 40px;
       height:2px;
       margin-top: 9px;
       background::$grey;
     }
   }
   p {
     font-family:'National Light';
   }
   .button {
     font-family:'National Regular';
     text-align: center;
     text-transform: uppercase;
     cursor:pointer;
     user-select:none;
     color: #ee8f8d;
     &:after {
       position: absolute;
       display: block;
        content:"";
        margin-top:10px;
        width: 60%;
        height: 2px;
        background: #ee8f8d;
        right: 0px;
     }
     &.animate {
       &:after {
         content:"";
         animation: anim-button 1s linear;
       }
     }
   }
   @keyframes anim-button {
     0%{
       right: 0%;
     }
     50%{
       right: -100%;
     }
     50.1%{
       right: 100%;
     }
     100%{
       right: 0%;
     }
   }
}

.text-hotspot {
  font-family:'PlayfairDisplay Italic';
  color:#1f1433;
  font-size: 10px;
  opacity: 0;

  &.animated-text {
    animation: anim-hotspot-text 1s linear forwards;
    &:after {
      animation: anim-hotspot-line 0.6s linear forwards;
      animation-delay: 0.2s;
    }
  }

  @keyframes anim-hotspot-text {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .subtitle {
    font-family:'National Regular';
    text-transform: uppercase;
    color: #a97b67;
    font-size: 8px;
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: black;
    left: 59%;
    transform: scaleX(0.2);
    opacity: 0;
  }

  @keyframes anim-hotspot-line {
    0%{
      height: 0%;
      opacity: 1;
    }
    100%{
      height: 100%;
      opacity: 1;
    }
  }
}

// Main home button
.main-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  transition: all 0.4s linear;

  &.hide {
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s linear;
  }

    .pie {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 65px;
    height: 65px;
    margin: 20px 20px;
    border-radius: 50%;
    background: $blue;
    transform: translateZ(0);
    border: 8px solid $dark-blue;

    .mask {
      position: absolute;
      height: 62px;
      width: 62px;
      background: $blue;
      border-radius: 50%;
      z-index: 10;
      top: 2px;
      left: 2px;
      background: url('../assets/interface/picto-button.png') no-repeat;
      background-position: center 10px;
      background-size: 50%;
      background-color: $blue;
    }
  }

  .slice {
    position: absolute;
    top: -1px;
    right: -1.5px;
    width: 34px;
    height: 34px;
    transform-origin: bottom left;
    transition: 1s ease-in-out;
    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top-right-radius: 100%;
      background: white;
      transform-origin: bottom left;
      transition: 1s ease-in-out;
    }
  }

  .pie .slice {
    transform: rotate(-90deg);
    &:after{
      transform: rotate(90deg);
    }
  }

  .pie{
    &.add2 {
      .slice:nth-child(2) {
        transform: rotate(90deg);
      }
    }

    &.add3 {
      .slice:nth-child(3) {
        transform: rotate(180deg);
      }
    }

    &.add4 {
      .slice:nth-child(4) {
        transform: rotate(270deg);
      }
    }
  }

  .pie.add1 .slice,
  .pie.add1 .slice:after {
    transform: rotate(0);
  }
}


@font-face {
	font-family:'PlayfairDisplay Italic';
	src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.eot');
	src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.ttf') format('truetype'),
		url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'National Semibold';
	src: url('../fonts/National-Semibold/National-Semibold_gdi.eot');
	src: url('../fonts/National-Semibold/National-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/National-Semibold/National-Semibold_gdi.woff') format('woff'),
		url('../fonts/National-Semibold/National-Semibold_gdi.ttf') format('truetype'),
		url('../fonts/National-Semibold/National-Semibold_gdi.svg#National-Semibold') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'National Light';
	src: url('../fonts/National-Light/National-Light_gdi.eot');
	src: url('../fonts/National-Light/National-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/National-Light/National-Light_gdi.woff') format('woff'),
		url('../fonts/National-Light/National-Light_gdi.ttf') format('truetype'),
		url('../fonts/National-Light/National-Light_gdi.svg#National-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'National Medium';
	src: url('../fonts/National-Medium/National-Medium_gdi.eot');
	src: url('../fonts/National-Medium/National-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/National-Medium/National-Medium_gdi.woff') format('woff'),
		url('../fonts/National-Medium/National-Medium_gdi.ttf') format('truetype'),
		url('../fonts/National-Medium/National-Medium_gdi.svg#National-Medium') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'National Regular';
	src: url('../fonts/National-Regular/National-Regular_gdi.eot');
	src: url('../fonts/National-Regular/National-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/National-Regular/National-Regular_gdi.woff') format('woff'),
		url('../fonts/National-Regular/National-Regular_gdi.ttf') format('truetype'),
		url('../fonts/National-Regular/National-Regular_gdi.svg#National-Regular') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Lato Bold';
	src: url('../fonts/Lato-Bold/lato-bold.eot');
	src: url('../fonts/Lato-Bold/lato-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold/lato-bold.woff') format('woff'),
		url('../fonts/Lato-Bold/lato-bold.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
