$dark-blue: #1d1a34;
$blue: #282446;
$grey: #9b9faa;

body, html {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }
 .hotspot {
     background-color: #fff;
     border-radius: 50%;
     cursor:pointer;
     animation: pulse 2s 0s ease-out infinite;

     svg {
       position: relative;
       width: 100%;
       height: 100%;
       pointer-events: all;
     }

     &.active {
       //background-color: blue;
     }

     @keyframes pulse {
       0% {
         box-shadow: 0 0 8px 6px rgba(0,149,137, 0), 0 0 0px 0px rgba(0,149,137, 0), 0 0 0px 0px rgba(0,149,137, 0);
       }
       10% {
         box-shadow: 0 0 8px 6px $dark-blue, 0 0 12px 10px rgba(0,149,137, 0), 0 0 12px 14px $dark-blue;
       }
       100% {
         box-shadow: 0 0 8px 6px rgba(0,149,137, 0), 0 0 0px 40px rgba(0,149,137, 0), 0 0 0px 40px rgba(0,149,137, 0);
       }
     }
 }
 .plantView {
   position: absolute;
   background-color: #f1f0f5;
   top:0;
   left:100%;
   width: 100%;
   height: 100%;
   z-index: 10;

   background-image:url('../assets/flower.png');
   background-size: 100%;
   background-repeat: no-repeat;

   .back {
    position: absolute;
    top:30px;
    left: 30px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;

    .arrow {
      position: absolute;
      left:50%;
      top:50%;
      margin-top: -6px;
      margin-left: -4px;
      text-indent: -999px;
      display: inline-block;
      width:10px;
      height: 10px;
      border-left:2px solid black;
      border-top:2px solid black;
      transform:  rotate(-45deg);
    }


   }

   .wrapper {
     position: absolute;
     box-sizing: border-box;
     bottom:0%;
     width: 100%;
     padding: 40px;

   }

   h1 {
     font-family:'PlayfairDisplay Italic';
     color:$blue;

   }
   h4 {
     font-family:'National Semibold';
     text-transform: uppercase;
     font-size: 3vh;
     color:$grey;
     padding-left: 30px;
     &:before {
       position: absolute;
       display: inline-block;
       content:'';
       width: 20px;
       left: 40px;
       height:2px;
       margin-top: 9px;
       background::$grey;
     }
   }
   p {
     font-family:'National Light';
   }
   .button {
     font-family:'National Regular';
     text-align: center;
     text-transform: uppercase;
     &:after {
       position: absolute;
       display: block;
        content:"";
        margin-top:10px;
        width: 60%;
        height: 2px;
        background: black;
        right:0px;

     }
   }
}


// Main home button
.main-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
    .pie {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 65px;
    margin: 20px 20px;
    border-radius: 50%;
    background: $blue;
    transform: translateZ(0);
    border: 8px solid $dark-blue;

    .mask {
      position: absolute;
      height: 62px;
      width: 62px;
      background: $blue;
      border-radius: 50%;
      z-index: 10;
      top: 2px;
      left: 2px;
      background: url('../assets/interface/picto-button.png') no-repeat;
      background-position: center 10px;
      background-size: 50%;
      background-color: $blue;
    }
  }

  .slice {
    position: absolute;
    top: -1px;
    right: -1.5px;
    width: 34px;
    height: 34px;
    transform-origin: bottom left;
    transition: 1s ease-in-out;
    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top-right-radius: 100%;
      background: white;
      transform-origin: bottom left;
      transition: 1s ease-in-out;
    }
  }

  .pie .slice {
    transform: rotate(-90deg);
    &:after{
      transform: rotate(90deg);
    }
  }
  .pie:hover {
    .slice:nth-child(2) {
      transform: rotate(90deg);
    }
    .slice:nth-child(3) {
      transform: rotate(180deg);
    }
    .slice:nth-child(4) {
      transform: rotate(270deg);
    }
  }
  .pie:hover .slice,
  .pie:hover .slice:after {
    transform: rotate(0);
  }
}


@font-face {
	font-family:'PlayfairDisplay Italic';
	src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.eot');
	src: url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.ttf') format('truetype'),
		url('../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic_gdi.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'National Semibold';
	src: url('../fonts/National-Semibold/National-Semibold_gdi.eot');
	src: url('../fonts/National-Semibold/National-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/National-Semibold/National-Semibold_gdi.woff') format('woff'),
		url('../fonts/National-Semibold/National-Semibold_gdi.ttf') format('truetype'),
		url('../fonts/National-Semibold/National-Semibold_gdi.svg#National-Semibold') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'National Light';
	src: url('../fonts/National-Light/National-Light_gdi.eot');
	src: url('../fonts/National-Light/National-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/National-Light/National-Light_gdi.woff') format('woff'),
		url('../fonts/National-Light/National-Light_gdi.ttf') format('truetype'),
		url('../fonts/National-Light/National-Light_gdi.svg#National-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'National Medium';
	src: url('../fonts/National-Medium/National-Medium_gdi.eot');
	src: url('../fonts/National-Medium/National-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/National-Medium/National-Medium_gdi.woff') format('woff'),
		url('../fonts/National-Medium/National-Medium_gdi.ttf') format('truetype'),
		url('../fonts/National-Medium/National-Medium_gdi.svg#National-Medium') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
	font-family:'National Regular';
	src: url('../fonts/National-Regular/National-Regular_gdi.eot');
	src: url('../fonts/National-Regular/National-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/National-Regular/National-Regular_gdi.woff') format('woff'),
		url('../fonts/National-Regular/National-Regular_gdi.ttf') format('truetype'),
		url('../fonts/National-Regular/National-Regular_gdi.svg#National-Regular') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
