$dark-blue: #1d1a34;
$blue: #282446;

body, html {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }
 .hotspot {
     background-color: red;
     cursor:pointer;
 }
 .hotspot.active {
   background-color: blue;

 }
 svg {
   position: relative;
   width: 100%;
   height: 100%;
   pointer-events: all;
 }
 .plantView {
   position: absolute;
   background-color: white;
   top:0;
   left:100%;
   width: 100%;
   height: 100%;
   z-index: 10;
}

.main-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
    .pie {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px 20px;
    border-radius: 50%;
    background: $blue;
    transform: translateZ(0);
    border: 8px solid $dark-blue;

    .mask {
      position: absolute;
      height: 94px;
      width: 94px;
      background: $blue;
      border-radius: 50%;
      z-index: 10;
      top: 3px;
      left: 3px;
      background: url('../assets/interface/picto-button.png') no-repeat;
      background-position: center 16px;
      background-size: 50%;
      background-color: $blue;
    }
  }

  .slice {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    transform-origin: bottom left;
    transition: 1s ease-in-out;
    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top-right-radius: 100%;
      background: white;
      transform-origin: bottom left;
      transition: 1s ease-in-out;
    }
  }

  .pie .slice {
    transform: rotate(-90deg);
    &:after{
      transform: rotate(90deg);
    }
  }
  .pie:hover {
    .slice:nth-child(2) {
      transform: rotate(90deg);
    }
    .slice:nth-child(3) {
      transform: rotate(180deg);
    }
    .slice:nth-child(4) {
      transform: rotate(270deg);
    }
  }
  .pie:hover .slice,
  .pie:hover .slice:after {
    transform: rotate(0);
  }
}
